# Python virtual environment
.venv/
venv

# Python cache files
__pycache__/

# Node modules
node_modules/

# VSCode settings
.vscode/

# OS-specific files
.DS_Store

/backend/.env

#Israel's virtual environment 
dotTheOG